<div id="fullpage">
	<div class="section active" id="section0"><h1>fullPage.js</h1><h2>Simple Demo for page destroy</h2></div>
	<div class="section" id="section1"><h1>This page is the simplest demo we can have.</h1></div>
	<div class="section" id="section2"><h1>Click on <a href="#fullpagejs/second.html">this link</a> to go to a second slide via Ajax navigation.</h1></div>
	<div class="section" id="section3"><h1>Nothing here, you should scroll up!</h1></div>
</div>

<script src="./javascript/app/controllers/fullpagejs/index.js"></script>