<div id="fullpage">
	<div class="section active" id="section0"><h1>fullPage.js</h1><h2>Third page!</h2></div>
	<div class="section" id="section1"><h1>This slide will contain more pages.</h1></div>
	<div class="section" id="section2">
		<h1>You can go back to <a href="#fullpagejs">first page</a> if you want to.</h1>
	</div>
	<div class="section" id="section3">
		<h1>Or go back to the <a href="#fullpagejs/second.html">second page</a>.</h1>
	</div>
	<div class="section" id="section4">
		<h1>But if you go lower, you will find... Nothing!</h1>
	</div>
	<div class="section" id="section5"><h1>Nothing here, you should scroll up!</h1></div>
</div>

<script src="./javascript/app/controllers/fullpagejs/index.js"></script>