<div>
	<header>
		<h1>EntityPHP  <small><a href="https://github.com/adrien-gueret/EntityPHP">adrien-gueret/EntityPHP</a></small></h1>
		<h2>A basic and easy to use ORM built with and for PHP.</h2>
	</header>
</div>

<h2>1. Include <code>EntityPHP</code> in your project</h2>
<pre>require 'path/to/EntityPHP.php';</pre>

<h2>2. Create a class inherited from <code>\EntityPHP\Entity</code></h2>
<pre>class Characters extends \EntityPHP\Entity
{
	protected $firstname;
	protected $age;

	public static function __structure()
	{
		return array(
			'firstname'	=>	'VARCHAR(255)',
			'age'		=>	'INT(11)',
		);
	}
}</pre>

<h2>3. Connect to your database and generate your tables</h2>
<pre>\EntityPHP\Core::connectToDB('hostname', 'username', 'password', 'databasename');
\EntityPHP\Core::generateDatabase();</pre>

<h2>4. Create and save a new instance of your class</h2>
<pre>$character	=	new Characters();
$character->setProps(array(
	'firstname'	=>	'John',
	'age'		=>	20,
));
Characters::add($character);</pre>

<h2>5. That's it! Your table is generated and populated!</h2>
<figure>
	<img src="./images/entityphp/home_characters_table.png" alt="Structure of generated table" /><br />
	<img src="./images/entityphp/home_characters_table_content.png" alt="Content of generated table" />
</figure>

<h2>6. Is it what you're looking for? So let's go further!</h2>
<section id="downloads" class="clearfix">
	<a href="#" id="go-to-documentation" class="button big" data-role="disabled" title="Soon!"><span>Documentation</span></a>
	<a href="https://github.com/adrien-gueret/EntityPHP/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/adrien-gueret/EntityPHP/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/adrien-gueret/EntityPHP" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>
