<ol data-role="menu">
	<li><a href="#EntityPHP/doc/basic_db.html">Create a basic database</a></li>
	<li><a href="#EntityPHP/doc/manipulate_data.html">Create, update &amp; delete</a></li>
	<li><a href="#EntityPHP/doc/foreign_keys.html"  data-role="disabled">Adding relations between tables</a></li>
	<li><a href="#" data-role="disabled">Upated foreign keys fields</a></li>
	<li><a href="#" data-role="disabled">Select data</a></li>
	<li><a href="#" data-role="disabled">Complexe data selections</a></li>
</ol>
<section id="downloads" class="clearfix">
	<a href="https://github.com/adrien-gueret/EntityPHP/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/adrien-gueret/EntityPHP/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/adrien-gueret/EntityPHP" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>
<script src="./javascript/app/controllers/menu.js"></script>