<div>
	<header>
		<h1>Circles <small><a href="https://github.com/adrien-gueret/circles">adrien-gueret/circles</a></small></h1>
		<h2>Forked from <a href="https://github.com/lugolabs/circles">lugolabs/circles</a></h2>
	</header>

	<hr>
</div>

<section id="circles_section">
	<div id="sample1"></div>
	<button data-role="add_percent" data-value="20" data-target="sample1">+20</button>
	<button data-role="substract_percent" data-value="20" data-target="sample1">-20</button>
</section>

<script src="./javascript/app/controllers/circles.js"></script>